*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    background-color: #fff;
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color: #000;
}
ul{
    list-style: none;
}
input{
    border: none;
    outline: none;
}
button{
    border: 0;
    cursor: pointer;
}
/* global vars */
:root{
    --main-font:'Open Sans', sans-serif;
    --main-color:#F7D1C4;
    --main2-font:'Montserrat', sans-serif;
    --bg-color:#f2f1f1;
    --gold-color:#dbba04;
    --heaert-empty:#ef5350;
    --events-color:#ffd43b;
}
.container{
    width: 80vw;
    margin: auto;
    padding: 30px 0px;
    height: 100%;
}
@media (max-width:850px) {
    .container{
        width: 90vw;
    }
}
/* start header */
header{
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 4; /*its 4 because we give the div in wrapper z-index 3 */
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0px 15px;
    position: relative;
}
header .logo a {
    font-family: var(--main-font);
    font-size: 28px;
    color: #000; 
}
header .logo i{
    font-size: 40px;
    color: #fff; /*#F2B6A0 / #FC4F00*/
}
header .nav-icons{
    font-size: 22px;
    display: flex;
}
header .nav-icons > span{
    font-size: 1em;
    margin-right: 14px;
    height: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
} 
header .nav-icons > span:not(:nth-child(2)){
    cursor: pointer;
}
header .dlt , .shopping-icon , .checkout , .minus , .plus {
    cursor: pointer;
}
header .nav-icons > span:not(:nth-child(1)){
    width: 31px;
}
header .nav-icons  .search {
    background-color:#fff;
    color: #fff;
    font-size: .8em;
    border-radius: 3px;
    padding: 5px 8px;
    position: relative;
}
header .nav-icons .search i {
    color: #fff;
    z-index: 2;
}
header .nav-icons .search input {
    border: none;
    width: 0;
    height: 100%;
    background-color: transparent;
    transition: .5s;
    caret-color: var(--main-color);
    font-family: var(--main-font);
}
header .nav-icons .search .for-effect{
    width: 100%;
    height: 100%;
    position: absolute;
    background: var(--main-color);
    border-radius: 3px;
    top: 0;
    right: 0;
    transition: .5s;
}
header span.shopping {
    position: relative;
}
header span.shopping  .user_boughts{
    font-family: var(--main-font);
    font-weight: 500;
    position: absolute;
    background: #fff;
    width: 300px;
    top: 50px;
    right: 1%;
    min-height: 229px;
    border-radius: 11px;
    box-shadow: rgb(0 0 0 / 11%) 1px 24px 24px,
     rgb(0 0 0 / 5%) -1px -1px 10px;
     z-index: 2;
     padding-bottom: 20px;
}
.user_boughts > button{
    width:80%;
    margin-top: 10px;
    margin-left: 10%;
    border: 0;
    color: #000;
    background: var(--main-color);
    padding: 10px;
    border-radius: 7px;
    cursor: pointer;
}
span.shopping .user-alert{
    position: absolute;
    background-color:var(--heaert-empty);
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    top: 0;
    right: 0;
}
/* user bhoughts content */
.cart-product{
    padding: 20px;
}
.cart-product .p{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart-product.hide{
    display: none;
} 
.p > img:first-of-type {
    width: 50px;
    height: auto;
    border-radius: 5px;
    background-color: #f2f1f1;
}
.p .text p:first-of-type{
    font-size: 13px;
    color:  hsl(219, 9%, 45%);
    line-height: 1.4;
}
.p .text span.total{
    margin-left: 17px;
    font-weight: 700;
    color: #000;
}
.p .text i {
    font-size: 13px;
}
.p button.dlt{
    width: 10px;
    cursor: pointer;
    border: 0;
    background-color: transparent;
}
.p button.dlt i{
    font-size: 14px;
    color: var(--main-color);
}
.cart-product .number{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    border-radius: 4px;
    background-color: hsl(223, 64%, 98%);
    margin-right: 10px;    
    padding: 4px 11px;
    height: 25px;
    margin: 5px 0px;
}
.cart-product .number button{
    border: 0;
    background: transparent;
    cursor: pointer;
}
@media (max-width:437px) {
    header span.shopping  .user_boughts{
        right: -250%;
    }
}
header .shopping  .user_boughts .c{
    color: #000;
    padding: 20px;
    border-bottom: 1px solid  hsl(220, 14%, 75%);
    font-size: 18px;
}
header .shopping  .user_boughts .empty{
    color:  hsl(219, 9%, 45%);
    padding: 20px;
    font-size: 15px;
    position: absolute;
    height: 78%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .nav-icons .hamburger{
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
header .hamburger span{
    height: 2.4px;
    background: #000;
    border-radius: 5px;
    transition: .5s;
}
header .shortest{
    width: 40%;
}
header .medium{
    width: 60%;
}
header .longest{
    width: 100%;
}
header .hamburger span.hoverd{
    width: 100%;
}
header .hamburger .nested-links{
    font-family: var(--main-font);
    position: absolute;
    width:65vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    left: 20vw;
    padding: 30px 10px;
    top: 90px; /*height === > 67.6px*/
    transition: all .5s;
}
header .hamburger .nested-links .list{
    display: flex;
    flex-direction: row-reverse;
    flex:1;
}
header .hamburger .nested-links ul {
    flex:1;
    margin-right: 25px;
}
@media (max-width:767px){
    header .hamburger .nested-links ul{
        margin-right: 0px;
    }
    header .hamburger .nested-links .list{
        flex-direction: column-reverse;
    }
    header .hamburger .nested-links{
        left: 26vw;
    }
}
@media (max-width:450px) {
    header .hamburger .nested-links{
        width:80vw;
        left: 6vw;
    }
}
header .hamburger .nested-links ul li{
    padding: 12px 0px;
    font-size: 14px;
    border-bottom: 1px solid var(--main-color);
    min-width: 150px;
    position: relative;
    overflow: hidden;
}
header .hamburger .nested-links ul li::before{
    content: "";
    position: absolute;
    top: 0px;
    width:100%;
    height:100%;
    left: -100%;
    background-color:#f7d1c43d;
    transition: all .5s;
}
header .hamburger .nested-links ul li:hover::before{
    left: 0%;
}
header .hamburger .nested-links ul li a {
    color: #000;
    padding: 0;
    font-weight: 500;
}
@media (min-width:768px) {
    .container .links ul li:nth-child(4):hover .nested-links{
        top:68.6px
    }
}
@media (max-width:767px) {
    .container .links ul li:nth-child(4):hover .nested-links{
        top:106.2px
    }
}
header .user_account{
    position: relative;
}
header .user_account ul {
    position: absolute;
    background-color: var(--main-color);
    width: 84px;
    text-align: center;
    bottom: -84px;
    border-radius: 5px;
}
header .user_account ul li {
    padding-bottom: 10px;
}
header .user_account ul li:first-of-type{
    border-bottom: 1px solid #fff;
}
header .user_account ul a {
    font-family: var(--main-font);
    font-size: 16px;
}
header  .user_account ul li:hover a{
    color: #fff;
}
@media(max-width:540px){
    .container{
        width: 93vw;
    }
    header .logo a {
        font-size: 26px;
    }
    header .logo i {
        font-size: 37px;
    }
    header .nav-icons .search{
        display: none;
    }
}
/* strat main */
main{
    width: 100vw;
    height: 100vh;
    background: var(--bg-color);
    position: relative;
    overflow: hidden;
}
.skew_shaped{
    width: 50%;
    height: 100%;
    background: var(--main-color);
    position: absolute;
    left: -33px;
    transform: skewX(5deg);
}
.wrapper{
    width: 80vw;
    height: 100%;
    margin: auto;
}
.firt_furn_slide , .second_furn_slide ,.third_furn_slide{
    display: none;
    width: 100%;
    height: 100%;
    align-items: center;
    z-index: 3;
    position: relative;
    justify-content: space-around;
}
.wrapper .active{
    display: inline-flex;    
}
.wrapper .text h1 {
    font-family: var(--main-font);
    text-transform: capitalize;
    font-weight: 500;
    font-size: 43px;
    text-align: center;
    width: 300px;
}
.wrapper .text p{
    font-family: var(--main-font);
    font-size: 18px;
    margin-top: 30px;
    font-weight: 500;
}
.wrapper .text button{
    padding: 10px;
    background-color: #fff;
    border-radius: 15px;
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 18px;
    margin-top: 16px;
    width: 100px;
    cursor: pointer;
    transition: .5s;
}
.wrapper .second_furn_slide .text button:hover{
    background-color: #000;
    color: #fff;
}
.wrapper .image{
    width: 500px;
}
.wrapper .second_furn_slide .image{
    width: 500px;
}
.wrapper .firt_furn_slide  .image , .wrapper .second_furn_slide .image{
    transform: rotateY(180deg);
}
.wrapper > div .image >  img {
    width: 100%;
}
.wrapper .third_furn_slide .image{
    position: absolute;
    left: auto;
    right: auto;
    top: 50%;
    transform: translateY(-50%);
    filter: opacity(0.3);
    z-index: -1;
}
.wrapper .third_furn_slide .text{
    text-align: center;
    max-width: 1000px;
}
.wrapper .third_furn_slide  .text h1 {
    width: 100%;
    margin-bottom: 40px;
    font-size: 43px !important;
}
.wrapper .third_furn_slide .text button{
    margin-top: 40px;
    width: 239px;
    background: linear-gradient(-89deg, var(--main-color),var(--bg-color));
    color: #000;
    border-radius: 30px;
    font-size: 24px;
    box-shadow: 0px 2px 2px rgb(0 0 0 / 30%);
    position: relative;
}
.wrapper .third_furn_slide .text button::after{
    content: "";
    width: 0%;
    height: 100%;
    background-color: #fff;
    opacity: .2;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 30px;
}
.wrapper .third_furn_slide .text button:hover::after{
    width: 100%;
    transition: .5s;
}
/* start furniure info */
.wrapper  > div .image .furniture_info{
    display: flex;
    align-items: center;
    padding: 15px 20px;
    background-color: rgba(0, 0, 0, .2);
    max-width: 350px;
    border-radius: 40px;
} 
.wrapper .firt_furn_slide .image .furniture_info , .wrapper .second_furn_slide .image .furniture_info{
    transform: rotateY(180deg);
}
.furniture_info img{
    width: 80px;   
}
.furniture_info .smalltext{
        margin-left: 18px;
        font-family: var(--main-font);
        color: #000;
        font-weight: 500;
}
.furniture_info .furn-name{
    margin-bottom: 6px;
}
.furniture_info span:first-of-type{
    margin-right: 10px;
}
.furniture_info span i {
    color: #e8ec09;
}
.furniture_info .goahead{
    background-color: #fff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    position: relative;
}
.furniture_info .goahead i {
    color: #000;
    font-size: 20px;
    z-index: 3;
}
.furniture_info .goahead::after{
    content: "";
    width: 0%;
    height: 100%;
    background-color: var(--main-color);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 100%;
}
.furniture_info .goahead:hover::after{
    width:100%;
    transition: .5s;
}
.furniture_info .goahead:hover i{
    color: #fff;
}
/* furniture colors */
.wrapper  > div .image .furn-colors{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 27%;
    right: 100%;
}
.furn-colors div {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: var(--div-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    cursor: pointer;
}
.furn-colors img{
    width: 60px;
    border-radius: 50%;
}

/* for next and previous buttons */
main .btns{
    position: absolute;
    bottom: 30px;
    left: 40px;
    display: flex;
    justify-content: space-between;
    z-index: 3;
}
main .btns button{
    border: none;
    background-color: transparent;
    color: #000;
    font-size: 16px;
    display: flex;
    align-items: center;
}
main .btns .prev{
    margin-right: 6px;
}
main .btns span {
    display: inline-block;
    background-color: #000;
    width: 100px;
    height: 1px;
    border-radius: 5px;
    position: relative;
}
main .btns span:first-of-type{
    margin-left: 7px;
}
main .btns span:last-of-type{
    margin-right: 7px;
}
main .btns span::after{
    content: "";
    width: 0%;
    height: 100%;
    background-color: #fff;
    position: absolute;
    top: 0;
    transition: .5s;
}
main .btns .prev span::after{
    left: 0;
}
main .btns .next span::after{
    right: 0;
}
main .btns button:hover span::after{
    width: 100%;
}
main .slidersNumber{
    position: absolute;
    bottom: 10%;
    left: 40%;
    font-family: var(--main-font);
    font-weight: 500;
}
main .slidersNumber .slidernumber , main .slidersNumber .dash{
    font-size: 40px;
}
main .slidersNumber .slidertotalnumber{
    font-size: 20px;
}
@media (max-width:1160px) {
    .firt_furn_slide{
        justify-content: space-between;
    }
    .wrapper .second_furn_slide .image .furniture_info{
        width: 317px;
    }
}
@media (max-width:850px) {
    .wrapper{
        width: 90vw;
    }
    .wrapper > div .image .furn-colors{
        top: 100%;
        right:7%;
        flex-direction: row;
    }
    .furn-colors div{
        width: 70px;
        height: 70px;
        margin-right: 15px;
    }
    .furn-colors img{
        width: 50px;
    }

}
@media (max-width:740px) {
    .wrapper .text h1{
        font-size: 34px;
        width: 238px;
    }
    .wrapper .text p{
        font-size: 16px;
    }
    .wrapper > div .image .furn-colors{
        right: -10%;
    }
}
@media (max-width:615px) {
    .firt_furn_slide , .second_furn_slide{
        flex-direction: column;
        justify-content: center;
    }
    .wrapper > div .image .furniture_info{
        position: absolute;
        bottom: -29px;
    }
    main .slidersNumber{
        bottom: 5%;
        left: 80%;
    }
    .wrapper .second_furn_slide .image{
        width: 400px;
    }
    .wrapper > div .image .furn-colors{
        flex-direction: column;
        top: 11%;
        right: 96%;
    }
}
@media(max-width:540px){
   .skew_shaped{
    width: 100%;
    bottom: -51px;
    left: 0;
    height: 50%;
    transform: skewY(11deg);
   }
   header .logo i{
    color: var(--main-color);
   }
   main .btns span{
    width: 50px;
   }
   .wrapper > div .image .furniture_info{
        padding: 15px;
        left: 21%;
        bottom: -35px;
   }
   .furniture_info .smalltext{
        margin-left: 5px;
   }
   .furniture_info .goahead{
        margin-left: 15px;
   }
   main .slidersNumber {
    left: 73%;
    bottom: 3%;
   }
   main .btns {
        left: 20px;
        bottom: 20px;
   }
   main .slidersNumber .slidernumber, main .slidersNumber .dash{
        font-size: 30px;
   }
   .furn-colors div{
        width: 55px;
        height: 55px;
   }
   .furn-colors img {
    width: 42px;
   }
   .wrapper .text p {
        margin-top: 12px;
    }
    .wrapper .second_furn_slide .image{
        width: 317px;
    }
    .wrapper > div .image .furn-colors{
        flex-direction: row;
        top: 95%;
        right: 11%;
    }
}
@media (max-width:400px) {
    .wrapper .third_furn_slide .image{
        width: 465px;
    }
}
/* start gategories part */
.categories{
    padding: 40px 0px;
    font-family: var(--main2-font);
    font-weight: 500;
    text-align: center;
}
.categories h2{
    font-weight: 500;
    font-size: 32px;
    margin-bottom: 40px;
    position: relative;
    padding-bottom: 15px;
    text-transform: capitalize ;
}
.categories h2::after{
    content: "";
    width: 181px;
    height: 3px;
    background: #FFD43B;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.categories .cate-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.categories .cate-container > div {
    background: var(--my-color2);    
    margin-right: 25px;
    margin-bottom: 24px;
    width: 160px;
    height: 160px;
    border-radius: 20px;
    cursor: pointer;
    transition: .5s;
    display: grid;
    place-content: center;
    box-shadow: 0px 6px 0px var(--shadow-c);
}
.categories .cate-container > div:hover {
    border:3px solid var(--shadow-c);
}
.categories .cate-container > div:hover{
    transform: translateY(-7px);
}
.categories .cate-container > div span{
    display: block;
}
.categories .cate-container > div span:first-of-type{
    font-size: 40px;
    margin-bottom: 10px;
}
@media (max-width:620px) {
    .categories .cate-container{
        justify-content: space-around;
    }
}
@media (max-width:542px) {
    .categories h2{
        font-size: 25px;
    }
    .categories .cate-container > div {
        width: 150px;
        height: 150px;
        margin-right: 11px;
    }
}
/* start best sller part */
.best_seller{
    font-family: var(--main-font);
    text-align: center;
}
.best_seller h2 {
    font-weight: 500;
    text-transform: capitalize;
    font-size: 34px;
    margin-top: 30px;
    padding-bottom: 15px;
    position: relative;
}
.best_seller h2::after{
    content: "";
    position: absolute;
    width: 150px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    background-color: #FFD43B;
    height: 3px;
}
.best_seller .products_header{
    margin: 30px 0px;
}
.best_seller ul{
    display: flex;
    flex-wrap: wrap;
}
.best_seller li {
    color: #777;
    margin-right: 10px;
    padding: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    position: relative;
}
.best_seller li.productActive::after{
    content: "";
    width: 30%;
    height:2px;
    background-color: #000;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.best_seller li.productActive{
    color: #000;
}
.best_seller .products_displayer{
    position: relative;
}
.best_seller .products_displayer .products_displayer_container{
    display: grid;
    grid-template-columns: repeat( auto-fit , minmax(330px,.97fr));
    grid-gap: 20px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}
/* best one styles */
.best_seller .best-one{
    background-color:var(--my-color);
    border-radius: 13px;
    position: relative;
    height: 536px;
    transform: scale(0);
}
.best_seller .best-one.show{
   transform: scale(1);
   transition: 1s;
   z-index: 5;
}
.best_seller .best-one .image-container{
    height: 360px;
    display: grid;
    place-content: center;
    margin-top:44px;
}
.best_seller .products_displayer .products_displayer_container  div img {
    margin-top:44px;
    padding: 20px;
}
.best_seller .products_displayer .best-one  img {
    width: 360px;
}
.products_displayer .product-info{
    text-align: left;
    padding: 0px 50px;
}
@media (max-width:520px) {
    .products_displayer .product-info{
        padding: 0px 22px;
    }
}
.best-one .product-info .price{
    font-size: 26px;
}
.best-one .product-info .price i {
    font-size: 28px;
    margin-right: 5px;
    color: var(--gold-color);
}
.best-one .pro-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.best-one .product-info  .product-name{
    font-size: 29px;
    font-weight: 500;
    font-family: var(--main-font);
}
.best-one .product-info .rate{
    font-size:  21px;
}
.best-one .product-info .rate i {
    color: var(--gold-color);
    margin-right: 5px;
}
.best-one .love{
    position: absolute;
    top: 28px;
    right: 41px;
    cursor: pointer;
}
.best-one .love i {
    color: var(--heaert-empty);
    font-size: 25px;
}
.best-one .addtocart{
    position: absolute;
    bottom: -11px;
    left: 41px;
    width: 36px;
    height: 36px;
    background: #000;
    border-radius: 5px;
    display: grid;
    place-content: center;
    cursor: pointer;
    transition: .4s;
}
.best-one .addtocart:hover{
    bottom: -4px ;
}
.best-one .addtocart i{
    color: #fff;
}
.best-one .more{
    position: absolute;
    bottom: 6px;
    right: 25px;
    width: 36px;
    height: 36px;
    background: #000;
    border-radius: 50%;
    display: grid;
    place-content: center;
    cursor: pointer;
    transition: .4s;
}
.best-one .more i{
    color: #fff;
}
.best-one .more:hover {
    right: 16px;
}
/* start birth part */
.birth{
    width: 100%;
    height: auto;
    font-family: var(--main-font);
    text-align: center;
    background-color: var(--bg-color);
    margin-top: 60px;
    padding: 30px 0px;
    position: relative;
}
.birth-text{
    padding: 40px 0px;
}
.birth-text h2 {
    font-weight: 500;
    text-transform: capitalize;
    font-size: 34px;
    line-height: 2;
}
.birth-text p {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 18px;
}
.birth-text button{
    width: 184px;
    height: 48px;
    background: #fff;
    border: 2px solid #FFD43B;
    border-radius: 8px;
    box-shadow: 0px 5px 0px #ffd43b;
    position: relative;
}
.birth-text button span{
    z-index: 4;
    color: #000;
    position: relative;
    font-size: 20px;
}
.birth-text button:hover span{
    color: #fff;
}
.birth-text button::before{
    content: "";
    width: 0%;
    height: 98%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFD43B;
    transition: .5s;
}
.birth-text button:hover::before{
    width: 100%;
}
.right-draws , .left-draws{
    position: absolute;
    top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
}
.right-draws{
    right: 60px;
}
.left-draws{
    left: 60px;
}
.right-draws span , .left-draws span {
    font-size: 60px;
    display: block;
}
.right-draws span.yellow , .left-draws span.yellow{
    color: #FFD43B;
}
.right-draws span.dark , .left-draws span.dark{
    color: #5d82bd;
}
.right-draws span.dark{
    transform: translateX(-90px);
}
.left-draws span.dark{
    transform: translateX(90px);
}
#changable-text{
    color: #FFD43B;
}
@media (max-width:940px) {
    .right-draws , .left-draws {
        display: none;
    }
}
@media (max-width:570px) {
    .birth-text h2 {
        font-size: 22px;
    }
    .birth-text p {
        font-size: 16px;
    }
}
/* new products section */
.n-products{
    font-family: var(--main-font);
    margin-top: 60px;
    text-align: center;
    text-transform: capitalize;
}
.n-products h2 {
    font-weight: 500;
    font-size: 33px;
    padding-bottom: 15px;
    position: relative;
}
.n-products h2::after{
    content: "";
    position: absolute;
    bottom: 0;
    width: 150px;
    background-color: #FFD43B;
    height: 3px;
    left: 50%;
    transform: translateX(-50%);
}
.n-products .container{
    position: relative;
}
.n-products .products-n-wrapper{
    white-space:nowrap;
    margin-top: 70px;
    overflow: hidden;
    scroll-behavior: smooth;
    font-size: 0px;  /* just to delete the default spaces between divs*/
}
.n-products .products-new-slide{
    width: calc(90% / 4 );
    min-width: 229px;
    height: 250px;
    background-color: #eee;
    border-radius: 15px;
    margin-right: calc(10% / 3);
    display: inline-flex;
    overflow: hidden;
}
.products-new-slide .product-name{
    background-color: var(--my-color3);
    width: 50px;
}
.products-new-slide .product-name p {
    color: #fff;
    writing-mode: vertical-lr;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 18px;
    letter-spacing: 1px;

}
.products-new-slide .product-image-price{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.product-image-price .product-image img {
    width: 120px;
    transition: .3s;
}
.product-image-price .product-image img:hover {
    transform: scale(1.3);
}
.product-image-price .more{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
}
.product-image-price .more .love{
    cursor: pointer;
    color: #ef5350;
}
.product-image-price .more .price{
    font-size: 17px;
}
.product-image-price .more .addtocart{
    cursor: pointer;
}
.n-products   span.left , .n-products span.right{
    position: absolute;
    font-size: 30px;
    cursor: pointer;
    top: 60%;
    z-index: 4;
}
.n-products span.right:hover i , .n-products span.left:hover i{
    color: #FFD43B;
}
.n-products span.left{
    left: -50px;
}
.n-products span.right{
    right: -50px;
}
.n-products .explore{
    display: inline-block;
    font-size: 17px;
}
.n-products .explore a {
    height: 100%;
    display: grid;
    place-content: center;
}
.n-products .explore a:hover {
    color: #FFD43B;
}
@media (max-width:1250px) {
    .n-products .products-new-slide{
        width: calc(90% / 3);
        margin-right: calc(10% / 2);
    }
}
@media (max-width:800px) {
    .n-products .products-new-slide{
        width: calc(90% / 2);
        margin-right: 10%;
    }
    .n-products span.left{
        left: 0;
    }
    .n-products span.right{
        right: 0px;
    }
}
@media (max-width:450px) {
    .n-products .products-new-slide{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
}
/* events */
.events{
    min-height: 500px;
    margin-top: 100px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0EEK_WcBQ9ua1q65ZnHLZFd2sqjWiINjoBw&usqp=CAU");
    position: relative;
    font-family: var(--main-font);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}
.events::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .4;
}
.events h2  , .testmonails-section h2{
    font-size: 34px;
    font-weight: 500;
    text-transform: uppercase;
    z-index: 2;
    color: #fff;
}
.events .time {
    display: flex;
    margin-top: 70px;
    z-index: 2;
    color: #fff;
}
.events .time div {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 70px;
    margin-right:35px;
}
.events .time .indentifier{
    text-transform: capitalize;
}
.events .number {
    width: 52px;
    height: 52px;
    display: grid;
    place-content: center;
    border: 3px solid var(--events-color);
    transform: rotate(45deg);
    margin-bottom: 15px;
}
.events .number span{
    transform: rotate(-45deg);
}
.events form{
    margin-top: 70px;
    width: 530px;
    height: 60px;
    background-color: rgba(255, 212 ,59 , .4);
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 38px 23px;
    z-index: 2;
}
.events input {
    width: 397px;
    background-color: #eee;
    height: 45px;
    border-radius: 22px;
    margin-right: 18px;
    padding-left: 16px;
    font-size: 16px;
    text-transform: capitalize;
}
.events button{
    height: 45px;
    padding: 13px ;
    border-radius: 22px;
    font-size: 15px;
    color: #fff;
    background-color: var(--events-color);
    font-weight: bold;
}
@media (max-width:621px) {
    .events h2 {
        text-align: center;
        font-size: 28px;
    }
    .events form{
        max-width: 90%;
    }
    .events input {
        width: 78%;
    }
}
@media (max-width:400px) {
    .events h2 {
        font-size: 24px;
    }
    .events .time {
        width: 100%;
        place-content: end;
    }
    .events .time div {
        width: 40px;
        margin-right: 41px;
    }
    .events form{
        max-width: 95%;
    }
}
/* start testmonails section */
.testmonails-section{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 80px;
    align-items: center;
    flex-direction: column;
    font-family: var(--main-font);
}
.testmonails-section h2 {
    color: #000;
    margin-bottom: 50px;
    position: relative;
    padding-bottom: 15px;  
}
.testmonails-section h2::after{
    content: "";
    width: 200px;
    height: 3px;
    background-color: var(--events-color);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.test-container{
    position: relative;
    max-width: 942px;
    width: 90%;
    height: fit-content;
    background-color: #f6f6f6;
    border-radius: 14px;
}
.test-container .arrows{
    color: #ffcc008a;
    font-size: 27px;
    transition: .5s;
}
.test-container .arrows .right{
    position: absolute;
    top: 50%;
    right: 27px;
    cursor: pointer;
}
.test-container .arrows .left{
    position: absolute;
    top: 50%;
    left: 27px;
    cursor: pointer;
}
.test-container .arrows i:hover{
    color: #ffcc00f2;
}
.testmonail{
    padding: 60px 120px;
    transition: .5s;
}   
.testmonail .content{
    display: flex
}
.testmonail .content .text{
    display: flex;
}
.testmonail .content .quote-icon{
    margin-right: 30px;
}
.testmonail .content .quote-icon i{
    color: #ffcc008a;
    font-size: 4em;
}
.testmonail .feedback{
    font-size: 18px;
    margin-right: 22px;
}
.testmonail .feedback .rate span i {
    font-size: .8em;
    color: #ffcc00f2;
    margin-bottom: 10px;
}
.testmonail .person-feed h1{
    text-transform: uppercase;
    font-weight: 500;
    color: #777;
    font-size: 1em;
    letter-spacing: 1px;
    margin-bottom: 14px;
}
.testmonail .person-feed p {
    color: #9EA9BF;
    font-size: .8em;
    max-width: 403px;
    line-height: 1.7;
}
.testmonail .person-feed span.line{
    width: 40px;
    height: 2px;
    display: block;
    background: #ffcc00f2;
    margin-top: 30px;
}
.testmonail .person-img img {
    border-radius: 50%;
    object-fit: cover;
    width: 153px;
    height: 153px;
    object-position: top;
    box-shadow: 60px 56px 0px #ffcc00f2;
}
@media (max-width:830px) {
    .testmonail{
        padding: 60px 108px 60px 60px;
    }
    .testmonail .person-feed p{
        font-size: .7em;
    }
}
@media (max-width:700px) {
    /*body{
        padding: 0px 15px;
    }
    .container{
        height: 450px;
    } */
    .testmonail{
        padding: 44px 43px;
    }
    .testmonail .content{
        flex-direction: column-reverse;
        align-items: center;
    }
    .testmonail .person-img img {
        box-shadow: 69px 0px 0px #ffcc00f2;
        margin-bottom: 24px;
    }
    .testmonail .feedback{
        margin-right: 0px;
    }
    .arrows .left{
        left: 11px;
    }
    .arrows .right{
        right: 11px;
    }
}
@media (max-width:468px) {
    /* .container{
        height: 544px;
    } */
}
.testmonail-hidden{
    padding: 0;
    height: 0;
    overflow: hidden;
}
@media (max-width:420px) {
    .testmonails-section h2 {
        font-size: 29px;
    }
}
/* start footer */
footer{
    margin-top: 70px;
    background-color: var(--main-color);
    padding-top: 50px;
}
footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(230px , 1fr));
    gap:40px;
    padding-bottom: 50px;
    font-family: var(--main-font);
}
footer .info {
    text-align: center;
}
footer .footer-logo {
    font-weight: 500;
    font-size: 34px;
    color: #000;
    margin-bottom: 21px;
    display: inline-block;
}
footer .footer-logo i {
    color: #fff;
}
footer .icons a {
    background-color:rgba(255 , 255 , 255 , 20%);   
    margin-bottom: 10px;
    cursor: pointer;
    width:48px;
    height: 48px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;

}
footer .icons a i {
    color: #fff;
}
footer .icons a:first-of-type:hover{
    background-color:  red;
}
footer .icons a:nth-child(2):hover{
    background-color:  blue;
}
footer .icons a:last-of-type:hover{
    background-color: dodgerblue;
}
footer p {
    color: #000;
    font-size: 15px;
}
footer li {
    color: #000;
    position: relative;
    padding: 10px;
    font-size: 15px;
    text-transform: capitalize;
    transition: .5s;
}
footer li a {
    color: #000;
}
footer li::before {
    content:"\f101";
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    margin-right: 10px;
    color:#fff;
}
footer li:hover {
    transform: translateX(10px);
    cursor: pointer;
}
footer span{
    margin:0px 0px 20px;
    color: #000;
    font-size: 16px;
    display: block;
    position: relative;
    margin-left: 34px;
}
footer span::before{
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    font-size: 25px;
    position: absolute;
    left: -34px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 15px;
}
footer span:first-of-type:before{
    content: "\f3c5";
}
footer span:nth-child(2):before{
    content: "\f017";
}
footer span:last-of-type:before{
    content: "\f2a0";
}
footer .images div {
    width: 70px;
    height: 70px;
    border: 2px solid #fff;
    display: inline-block;
    margin-bottom: 8px;
    margin-right: 4px;
}
footer img {
    width: 60px;
    height: 60px;
}
